<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<!--NOTE: AUTHORS OF THIS CLASS: ALLE-->
<body>
<div th:insert="fragments/menu :: menu"></div>
<div class="container">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete</h3>
    <h3 th:text="${motorhome.getId()}"></h3>
    <h3 th:text="${motorhome.getBrand()}"></h3>
    <h3 th:text="${motorhome.getModel()}"></h3>

    <table>
        <tr>
            <a th:href="@{/motorhomes/delete/yes/__${motorhome.getId()}__}"><button class="btn-del btn">Delete</button></a>
        </tr>

        <tr>
            <a href="/motorhomes/list"><button class="pad-left btn">No</button></a>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>