<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cancel Rent agreement.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<!--NOTE: AUTHORS OF THIS CLASS: JACOB-->
<body>
<div th:insert="fragments/menu :: menu"></div>
<div class="container">
    <h3>Order id that will be cancelled:</h3>
    <h4 th:text="${rentId}"></h4>

    <h3>Price to cancel renting agreement:</h3>
    <h4>Initital Price:</h4>
<p th:text="${cancelPrices.get(0)}"></p>
    <h4>Percent of price to pay (based on cancel date)</h4>
    <p th:text="${cancelPrices.get(1)}"></p>
    <h3>Total cancellation cost:</h3>
    <h2 th:text="${cancelPrices.get(2)}"></h2>

    <form action="/activeMotorhome/cancel/yes" method="post">
        <input type="hidden" th:value="${rentId}" name="rentId" id="rentId">
        <input type="submit" name="submit" value="Customer has paid, so cancel this!" class="btn">
    </form>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>